<app-main-panel [title]="'Sign up'">
  <form [formGroup]="form" (submit)="onSubmit()" class="main-container">
    <mat-form-field appearance="outline">
      <mat-label for="username">Username</mat-label>
      <input
        matInput
        placeholder=""
        formControlName="username"
        id="username"
        name="username"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="password">Password</mat-label>
      <input
        matInput
        placeholder=""
        type="password"
        formControlName="password"
        id="password"
        name="password"
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="main-btn">
      Sign up
    </button>
  </form>
</app-main-panel>
