<app-main-panel [title]="'Sign in'">
  <form [formGroup]="form" (submit)="onSubmit()" class="main-container">
    <mat-form-field appearance="outline">
      <mat-label for="username">Username</mat-label>
      <input
        matInput
        placeholder=""
        formControlName="username"
        id="username"
        name="username"
        [class.is-invalid]="loginError || (username.touched && username.errors)"
        (input)="onInputChange()"
      />
      @if (username.touched && username.hasError('minlength')) {
      <mat-error
        >Username is at least <strong>4 characters long</strong></mat-error
      >
      } @if (username.touched && username.hasError('required')) {
      <mat-error>Username is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="password">Password</mat-label>
      <input
        matInput
        placeholder=""
        type="password"
        formControlName="password"
        id="password"
        name="password"
        [class.is-invalid]="loginError || (password.touched && password.errors)"
        (input)="onInputChange()"
      />
      @if (password.touched && password.hasError('required')) {
      <mat-error>Password is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="main-btn">
      Sign in
    </button>
  </form>
</app-main-panel>
