.image-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 75%;
  margin-bottom: 10px;

  mat-grid-list {
    width: 100%;
  }

  .default-image {
    height: 50px;
    width: auto;
    padding: 1px;
    border-radius: 5px;

    &.selected {
      border: 2px solid #ffc107;
      padding: 0px;
    }
  }

  #image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    img {
      height: 150px;
      width: auto;
    }
  }
}
