<app-main-panel [title]="'Create room'">
  <form [formGroup]="form" (submit)="onSubmit()" class="main-container">
    <mat-form-field appearance="outline">
      <mat-label for="pieces">Pieces</mat-label>
      <input
        matInput
        placeholder=""
        type="number"
        formControlName="pieces"
        id="pieces"
        name="pieces"
        [class.is-invalid]="pieces.touched && pieces.errors"
      />

      @if (pieces.touched && (pieces.hasError('min') ||
      userCapacity.hasError('max'))) {
      <mat-error>Pieces must be between 20 and 1000</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="userCapacity">User Capacity</mat-label>
      <input
        matInput
        placeholder=""
        type="number"
        formControlName="userCapacity"
        id="userCapacity"
        name="userCapacity"
        [class.is-invalid]="userCapacity.touched && userCapacity.errors"
      />

      @if (userCapacity.touched && (userCapacity.hasError('min') ||
      userCapacity.hasError('max'))) {
      <mat-error>User Capacity must be between 1 and 5</mat-error>
      }
    </mat-form-field>

    <div class="image-panel">
      <mat-label for="puzzleImage">Puzzle Image</mat-label>
      <ng-container *ngIf="!defaultImages || defaultImages.length === 0">
        <mat-spinner></mat-spinner
      ></ng-container>
      <mat-grid-list cols="2" rowHeight="55px" gutterSize="5px">
        <mat-grid-tile *ngFor="let image of defaultImages">
          <img
            [src]="image.name"
            class="default-image selected"
            [class.selected]="image === puzzleImageFile"
            (click)="clickOnDefaultImage(image)"
          />
        </mat-grid-tile>
      </mat-grid-list>
      <div *ngIf="this.puzzleImageFile" id="image-preview">
        <img [src]="this.getUploadedImage()" />
      </div>
      <button type="button" mat-raised-button (click)="fileInput.click()">
        Upload Image
      </button>
      <input
        hidden
        (change)="uploadImage($event)"
        #fileInput
        type="file"
        id="puzzleImage"
        name="puzzleImage"
      />

      @if (puzzleImage.touched && puzzleImage.hasError('required')) {
      <mat-error>Puzzle Image is required</mat-error>
      } @if (conversionError) {
      <mat-error>{{ conversionError }}</mat-error>
      } @if (submitError) {
      <mat-error>{{ submitError }}</mat-error>
      }
    </div>
    <button mat-raised-button color="primary" type="submit" class="main-btn">
      Create
    </button>
  </form>
</app-main-panel>
