mat-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 60px;
  width: 300px;

  mat-card-header {
    padding: 0;
  }
}

.player-number-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  span {
    padding-left: 3px;
  }
}