mat-card {
  width: 300px !important;

  mat-card-header {
    margin-left:5px;
    margin-bottom: 10px;
  }
}

.container {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
  }
}