<app-main-panel [title]="'Join to Lobby'">
  <form [formGroup]="form" (submit)="onSubmit()" class="main-container">
    <mat-form-field appearance="outline">
      <mat-label for="playerName">Player Name</mat-label>
      <input
        matInput
        placeholder=""
        formControlName="playerName"
        id="playerName"
        name="playerName"
        [class.is-invalid]="playerName.touched && playerName.errors"
      />
      <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
      @if (playerName.touched && playerName.hasError('minlength')) {
      <mat-error
        >Name should be at least <strong>4 characters long</strong>
      </mat-error>
      }
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" class="main-btn">
      Join
    </button>
  </form>
</app-main-panel>
