:host {
  display: block;
  width: 300px !important;
  padding: 20px;
  background-color: var(--mat-toolbar-container-background-color);
  filter: opacity(100);
  border: 1px solid var(--border-color);
  border-radius: 36px;

  #header {
    margin-bottom: 30px;
    text-align: center;

    h1 {
      font-weight: 300;
    }
  }
}
