html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
html,
body {
  height: 100%;
}

.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-button {
  border-radius: 36px !important;
}

.mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper {
  padding-left: 16px !important;
  --mat-mdc-form-field-label-offset-x: inherit !important;
}

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px !important;
}

.main-btn {
  width: 50%;
}
.secondary-btn {
  background-color: whitesmoke !important;
  color: #000 !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-form-field {
    width: 100%;
  }
}
